body{
    width: 100vw;
    cursor: url(https://imgs.search.brave.com/LLcQeXip-S8MQpMlnSud-MVsbi7v6srFGgsPIMPQAA0/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxMy8w/My8yOS8xMy8zOS91/cC05NzYxNF9fMzQw/LnBuZw) 16 16, auto;
}
/* cursor: url(../imgs/flecha_arriba.png), auto; */
*{
    box-sizing: border-box;
}
:root{
    --widthResponsive: max(10vw, 20vh);
    --heightResponsive: max(7vw, 15vh);

}
.tit{
    border:3px solid black;
    background-color: rgb(55, 96, 55);
}
main{
    padding: 0% 10%;
}
.Main-Container{
    background-color: gray;
    display: grid;
    /* gap:5%; */
    /* justify-content: center; */
    /* align-items: center; */
}
.container{
    --fillable_tick:5px;
    --fillable_color:black;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.close-Fillable{
    width:100%;
    height: var(--fillable_tick);
    background-color: var(--fillable_color);
    margin-bottom: 3%;
    cursor: url(../imgs/flecha_arriba.png), auto;
}
.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Row-Flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: 10px;
    input{
        margin-bottom: 5px;
        color:white;
        width: 60%;
    }
}
.calcular{
    background-color: rgb(58, 224, 58);
    width: var(--widthResponsive);
    padding: 1%;
    margin:2% 0%;
}
.result{
    border-top:2px solid black;
    input::placeholder{
        color:white;
    }
}

.normal{
    background-color: gray;
    background: radial-gradient(#b8b9bd, #424742);
}
.advanced{
    background-color: green;
    background: radial-gradient(#01e03b, #03970e, #056404);
}
.elite{
    background-color: rgb(46, 205, 245);
    background: radial-gradient(#0c9dc3, #008ab6, #025d84);
}
.epic{
    background-color: rgb(83, 7, 83);
    background: radial-gradient(#dc79f1, #af42cf, #520c53);
}
.legendary{
    background-color: rgb(224, 161, 0);
    background: radial-gradient(#f8a300, #ec7b03, #d15b00);
}
.relative{
    position: relative;
}
.fixed{
    display: flex;
    padding: 0px;
    position: fixed;
    bottom:10%;
    right: 10%;
    /* left:80%;
    top:70%; */
    flex-direction: column-reverse;
    align-items: center;
}
.Profiles{
    list-style: none;
    /* color:white; */
    display: flex;
    flex-direction: column-reverse;
    transition: height 3s;
    overflow: hidden;
    /* height: min-content; */
    height: 0px;
    transition: height 3s;
    li{
        margin:10% 0%;
        background-color: rgb(70, 218, 70);
        border-radius:10px;
        text-align: center;
    }



}
.user-Name{
    text-align: center;
}
.profile{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 2px 2px 10px black;
}
.circle,.Profiles{
    width: max(10vw, 20vh);
    height: max(7vw, 15vh);
}

.help{
    position: relative;
    .details{
        position: absolute;
        background-color: white;
        border: 2px solid black;
        right: 0%;
        bottom: 100%;

        width: max(10vw, 20vh);
        height: max(7vw, 15vh);
    }
}



.equipment{
    --slotSize:max(6vw, 10vh);
    width:calc(var(--slotSize) * 3.3);
    .row-equipment{
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .slot{
        width:calc(var(--slotSize) * .7);
        height: calc(var(--slotSize) * .7);
        border:3px solid black;
        margin:calc(var(--slotSize) * .15);
        rotate: 45deg;
        position: relative;



        background: radial-gradient(yellow 1%, #ff7600 80%);

        background: radial-gradient(#f8a300, #ec7b03, #d15b00);

        box-shadow: 5px 5px black;

    }
    .slot::after{
        content:"";
        display: block;
        background-image: url(../imgs/signo_mas.webp);
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        position:absolute;
        left: 0;
        top:0;
        right: 0;
        bottom: 0;
        rotate: -45deg;
    }
    .mid-row{
        height: 0;
        /* transform: translateY(calc( var(--slotSize) * -.507)); */
        transform: translateY(calc( var(--slotSize) * -.53));

    }
}

.equiment-Selector{

    position: fixed;
    display: none;
    bottom: 0;
    top:40%;
    left:0;
    right: 0;
    background-color: red;
}
#guardar-Calculo{
    display:none;
    --containerWidth:calc(var(--heightResponsive) * .3);
    --legsWidth:calc(var(--containerWidth) * .5);
    width: var(--containerWidth);
    aspect-ratio: 5/7;
    filter: drop-shadow(4px 3px 3px black);
    margin-left: 1%;
}

.date-Container{
    width: 100%;
    display: flex;
    justify-content: end;
    padding:2% 3%;
    select{
        padding: 1%;
        max-width: 90%;
        width:calc(var(--widthResponsive) * 1.2)
    }
    img.time{
        aspect-ratio: 1/1;
        width: calc(var(--widthResponsive) * .3);
        margin-right: 1%;
    }
}

